name: TagView-CI-MinGW

on: [push]

env:
  QT_VERSION: 6.8.3

jobs:
  build:
    name: "Build"
    runs-on: windows-latest

    steps:
      - name: Install ninja (windows)
        run: choco install ninja

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{env.QT_VERSION}}
          arch: win64_mingw

      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Add MinGW to PATH
        run: |
          # 添加指定的 MinGW 路径到 PATH
          echo "C:/mingw64/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          # 验证 MinGW 可用性
          g++ --version

      - name: Build
        run: |
          cmake -S . -B build_dir -G "Ninja Multi-Config"
          cmake --build build_dir --config Release